[user]
	email = morgencodes@gmail.com
[pull]
	rebase = false
[rerere]
	enabled = true
[merge]
	tool = nvimdiff
	conflictstyle = zdiff3
[mergetool]
	keepBackup = false
	prompt = false
[diff]
	tool = nvimdiff
	algorithm = histogram
	colorMoved = default
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
